.word {
  text-transform: uppercase;
  color: rgb(231, 213, 213);
  font-size: 50px;
  text-align: center;
}

.card {
  border: 2px solid slategray;
  padding: 20px;
  border-radius: 20px;
}

/* ////////////// Meaning.js CSS ////////////*/
.example {
  color: palegoldenrod;
}

h3 {
  color: rgb(196, 93, 93);
  text-align: center;
  text-decoration-line: underline;
}
