body {
  background-color: rgb(46, 40, 40);
  color: rgb(245, 235, 235);
  padding: 20px;
}

.logo {
  max-width: 100px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

header {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
  color: whitesmoke;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

footer {
  display: block;
  margin: 30px 0;
  text-align: center;
  font-size: 15px;
}
